@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --body-color: #B1DEFF;
    --main-color: #526ad4;
    --delete-color: #f15b5b;
    --default: rgba(0, 0, 0, 0.3);
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
    height: 100vh;
    display: flex;
    justify-content: center; 
    padding: 32px;
    font-weight: 300;
}
.deal__body{
    padding: 32px;
    background-color: #fff;
    width: 90vw;
    border-radius: 16px;
}
.deal__content {
}
.deal__title {
}
.deal__new {
    --size: 50px;
    display: flex;
    margin: 16px 0 32px;

}
.deal__new input{
    margin-right: 16px;
    font-size: 18px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--default);
    border-radius: 5px;
    flex-grow: 1;
}
.deal__add,
.deal__task-del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    line-height: calc(var(--size)*0.95) ;
    font-size: 32px;
    font-weight: 200;
    /* border: 1px solid var(--default); */
    border-radius: var(--size);
    background: var(--main-color);
    color: white;
}
.deal__list {
}
.deal__task {
    --size: 36px;
    display: flex;
    min-height: var(--size);
    align-items: center;
}
.deal__task:hover .deal__task-del{
    display: block;
}
.deal__checkbox {
    margin-right: 16px;
}
.deal__task-text {
    font-size: 20px;
}
.deal__task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    line-height: calc(var(--size)*0.88);
    font-size: 44px;
}